h1,h2,h3{
		color:red; 
		background-color:yellow; 
		font-size:50px
	}	
	
	.raj{
		
		color:blue;
		background-color:green;
	}
	#raja{
		
		color:red;
		background-color:green;
	}
	
	
	h6.nagar{
		color:yellow;
	}
	h6.nagar2{
		color:orange;
	}